.backlink-item {
    border: 1px solid var(--background-modifier-border);
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

.content-preview {
    color: var(--text-muted);
    font-size: 0.9em;
    padding: 5px;
}

/* Adjust margins for <p> elements within .content-preview */
.content-preview p {
    margin-top: 5px; /* Adjust as needed */
    margin-bottom: 5px; /* Adjust as needed */
    padding: 0; /* Ensure no padding is added */
}

.display-text {
    display: block;
    margin-bottom: 0px;
}
